*{
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    font-weight: 500;
}
body{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: red
}

#result {
    background-color: #023047;
    grid-column-start: 1;
    grid-column-end: -1;
    border: 1px solid #219ebc;
    color: white;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 1rem;
    font-size: 2rem;
}

.b1{
    background-color: #023047;
    width: 5rem;
    height: 5rem;
    border-right: 1px solid #219ebc;
    border-bottom: 1px solid #219ebc;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #219ebc;
}

.b2{
   background-color: #157a94;
   color: white;
}


#calculator {
    display: grid;
    grid-template-columns: repeat(4, 5rem);
    grid-template-rows: repeat(6, 5rem);
    box-shadow: 10px 10px 9px rgb(85, 79, 79);
}

#equal {
    grid-row: 5/span 2;
    grid-column: 4;
    height: 10rem;
    background-color: orange;
    color: white;
}

#zero {
    grid-column: 1;
    grid-row: 6;
    width: 10rem;
}

#dot {
    grid-column: 3;
}